.arena {
    display: grid;
    background-color: black;
    width: min-content;
    margin: 0 auto;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    align-items: stretch;
    justify-items: stretch;
    

    .position {
        display: flex;
        font-size: 3rem;
        background-color: red;
        border: 2px solid rgb(100, 255, 100);
    }
}