:root {
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

main {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    --player-one-color: var(--p1-select);
    --player-two-color: var(--p2-select);

    h1 {
        font-size: 4rem;
        text-align: center;
    }

    article {
        text-align: center;
    }

    #scoreboard {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 25px;

        #round {
            grid-column: span 2;
            text-align: center;
            font-size: 1.4rem;

            p + p {
                font-weight: 600;
            }
        }

        .player-header,
        .score-counter {
            font-size: 1.2rem;
            font-weight: 600;
        }

        .name {
            font-weight: 600;
        }

        #p1-name,
        #p1-score-counter {
            color: red;
        }

        #p2-name,
        #p2-score-counter {
            color: blue;
        }

        #player-one .player-marker {
            background-color: red;
        }
        #player-two .player-marker {
            background-color: blue;
        }
    }

    #arena {
        display: grid;
        background-color: black;
        width: min-content;
        margin: 0 auto;
        grid-template-columns: repeat(3, 100px);
        grid-template-rows: repeat(3, 100px);
        gap: 10px;
        align-items: stretch;
        justify-items: stretch;


        .position {
            display: flex;
            font-size: 3rem;
            border: 2px solid rgb(100, 255, 100);
        }
    }

    #end-round-container {
        display: none;
        grid-template-columns: repeat(2 min-content);
        column-gap: 25px;
        justify-content: center;

        p {
            grid-column: span 2;
            text-align: center;
        }
    }
}